{% extends 'base.html' %}


{% block content %}
<h4>Posts</h4>

    {% for post in posts %}
        <div class="card" style="width: 90%;">
            <div class="card-body">
                <h4><a href="{{ post.get_absolute_url }}">{{post.title}}</a></h4>
                <h6 class="card-subtitle mb-2 text-muted">{{ post.author.first_name }} {{ post.author.last_name }} - {{ post.publish }}</h6>
                <p class="card-text">{{ post.body|slice:":258"|safe }}</p>
            </div>
        </div>
    </br>
{% endfor %}
{% endblock %}